<!doctype html>
<html>
<head>
    {% include '_header.html.twig' %}
    <title>Summary - Gherkinics Report</title>
    <link rel="stylesheet" href="static/css/summary.css"/>
</head>
<body>
<article class="container-fluid">
    <h1>Summary</h1>
    {% if maximumViolatedLineCount == 0 %}
        <p>
            No violations delected by the code sniffer. Please note that I'm not a Gherkin god.
        </p>
    {% else %}
        <ul class="file-list">
            {% for path, data in relativePathToDataMap %}
                {% if data.violatedLineCount > 0 %}
                    <li>
                        <div class="score">{{ data.violatedLineCount }}</div>
                        <a href="{{ data.hash }}.html" title="{{ path }}">
                            <span class="directory" title="{{ data.directory }}">{{ data.directory }}</span>
                            <span class="name" title="{{ data.name }}">{{ data.name }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</article>
</body>
</html>