<!doctype html>
<html>
<head>
    <title>Summary - Gherkinics Report</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="static/css/summary.css"/>
</head>
<body>
<article class="container-fluid">
    <h1>Summary</h1>
    {% if maximumViolatedLineCount == 0 %}
        <p>
            No violations delected by the code sniffer. Please note that I'm not a Gherkin god.
        </p>
    {% else %}
        <p>
            There are up to {{ maximumViolatedLineCount }} lines per file which violate the coding standards.
        </p>
        <ul class="file-list">
            {% for path, data in relativePathToDataMap %}
                <li>
                    <a href="{{ data.hash }}.html">{{ path }} <span class="badge badge-important">{{ data.violatedLineCount }}</span></a>
                    {% set warningRatio = data.violatedLineCount / maximumViolatedLineCount * 100 %}
                    <div class="progress">
                        <div class="bar {% if data.violatedLineCount > 0 %}bar-{% if warningRatio > 25 %}danger{% else %}warning{% endif %}{% endif %}" style="width: {{ warningRatio }}%;"></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</article>
</body>
</html>